/*bootstrap css*/

.btn{ font-size:14px; transition:all ease-out 0.2s;}
.btn-primary {
  background-color: #078ccf;
  border-color: #078ccf;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #0583c2;
  border-color: #0583c2;
  color: #FFFFFF;
}
.btn-blue{font-size: 14px;background-color:#078ccf;}
.btn-orange{ background-color:#ff6600;border-color: #ff6600;}
.btn-orange:hover,.btn-orange:focus,.btn-orange:active{background-color:#ee6104;border-color: #ee6104;}

.btn-cyan{ background-color:#1AB394;border-color: #1AB394; color:#fff;}
.btn-cyan:hover,.btn-cyan:focus,.btn-cyan:active{background-color:#18a084;border-color: #18a084;color:#fff;}

.btn-green{ background-color:#7faf2a;border-color: #7faf2a;}
.btn-green:hover,.btn-green:focus,.btn-green:active{background-color:#6e9824;border-color: #6e9824;}

.btn-sm{padding: 2px 15px;}

.pagination{ margin:0;}

.gray-info{ color:#666; background:#f8f8f8;border-color: #eee;}

.count-info .label {
line-height: 12px;
padding: 2px 3px;
position: absolute;
top: 12px;
z-index: 2;
font-size: 12px;
font-weight: normal;
margin-left: 2px;
background-color:#0583C2;
}
.positiontool{margin-left: 10px;}
.label-default{background-color:#ABB2B7}

input.special-disabled[disabled], input.special-disabled[readonly] {
    background-color: #fff;
    opacity: 1;
}
.alert-yellow{ background-color:#fff88f; border:1px solid #ffe84d;}
/*bootstrap css*/

/*west263.css*/

.nav > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}
.nav.navbar-right > li > a {
  color: #999c9e;
}
.nav > li.active > a {
  color: #ffffff;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #293846;
  color: white;
}
.nav .navbar-top-links > li > a:hover,
.nav .navbar-top-links > li > a:focus {
  background-color: transparent;
}
.nav > li > a i {
  margin-right: 6px;
}
/* Tabs */
.tabs-container .panel-body {
  background: #fff;
  border: 1px solid #e7eaec;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}
.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
  border: 1px solid #e7eaec;
  border-bottom-color: transparent;
  background-color: #fff;
}
.tabs-container .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.tabs-container .tab-pane .panel-body {
  border-top: none;
}
.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
  border: 1px solid #e7eaec;
  border-bottom-color: transparent;
}
.tabs-container .nav-tabs {
  border-bottom: 1px solid #e7eaec;
}
.tabs-container .tab-pane .panel-body {
  border-top: none;
}
.tabs-container .tabs-left .tab-pane .panel-body,
.tabs-container .tabs-right .tab-pane .panel-body {
  border-top: 1px solid #e7eaec;
}
.tabs-container .nav-tabs > li a:hover {
  background: transparent;
  border-color: transparent;
}
.tabs-container .tabs-below > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs,
.tabs-container .tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tabs-container .tabs-left .panel-body {
  position: static;
}
.tabs-container .tabs-left > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs {
  width: 20%;
}
.tabs-container .tabs-left .panel-body {
  width: 80%;
  margin-left: 20%;
}
.tabs-container .tabs-right .panel-body {
  width: 80%;
  margin-right: 20%;
}
.tabs-container .tab-content > .tab-pane,
.tabs-container .pill-content > .pill-pane {
  display: none;
}
.tabs-container .tab-content > .active,
.tabs-container .pill-content > .active {
  display: block;
}
.tabs-container .tabs-below > .nav-tabs {
  border-top: 1px solid #e7eaec;
}
.tabs-container .tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-container .tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabs-container .tabs-below > .nav-tabs > li > a:hover,
.tabs-container .tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #e7eaec;
  border-bottom-color: transparent;
}
.tabs-container .tabs-left > .nav-tabs > li,
.tabs-container .tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-container .tabs-left > .nav-tabs > li > a,
.tabs-container .tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-container .tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
}
.tabs-container .tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-container .tabs-left > .nav-tabs .active > a,
.tabs-container .tabs-left > .nav-tabs .active > a:hover,
.tabs-container .tabs-left > .nav-tabs .active > a:focus {
  border-color: #e7eaec transparent #e7eaec #e7eaec;
  *border-right-color: #ffffff;
}
.tabs-container .tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
}
.tabs-container .tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabs-container .tabs-right > .nav-tabs .active > a,
.tabs-container .tabs-right > .nav-tabs .active > a:hover,
.tabs-container .tabs-right > .nav-tabs .active > a:focus {
  border-color: #e7eaec #e7eaec #e7eaec transparent;
  *border-left-color: #ffffff;
  z-index: 1;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #e6e6e6;
  color: #676a6c;
}
/*tab end*/

/* PAGINATIN */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f4f4f4;
  border-color: #DDDDDD;
  color: inherit;
  cursor: default;
  z-index: 2;
}
.pagination > li > a,
.pagination > li > span {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 4px 10px;
  position: relative;
  text-decoration: none;
}
/* TOOLTIPS */
.tooltip-inner {
  background-color: #2F4050;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #2F4050;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #2F4050;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2F4050;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #2F4050;
}

/*btn-default*/
.btn-default {
  background-color: #c2c2c2;
  border-color: #c2c2c2;
  color: #FFFFFF;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #bababa;
  border-color: #bababa;
  color: #FFFFFF;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  background-color: #cccccc;
  border-color: #cccccc;
}

h1 {
  font-size: 25px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}

/* MODAL */
.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border:none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative;
}
.modal-dialog {
  z-index: 2200;
}
.modal-body {padding:20px;}
.inmodal .modal-body { background: #f8fafb;}
.inmodal .modal-header {
  padding:15px;
  text-align: center;
}
.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.inmodal .modal-title {font-size:22px;}
.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3;
}
.modal-footer {
  margin-top: 0;
  text-align:center;
}

.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 1px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}
.form-control:focus,
.single-line:focus {
  border-color: #1ab394 !important;
}
.form-control,
.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
  box-shadow: none;
}

/* TABLES */

.table-bordered {
  border: 1px solid #EBEBEB;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    background-color: #F5F5F6;
    border-bottom-width: 1px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{ vertical-align:middle;}



.form-control:focus, .single-line:focus {
    border-color: #078CCF !important;
}
.form-control, .single-line{ display:inline-block;}


.text-navy {color: #1AB394;}
.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}
.hr-line-solid {
  border-bottom: 1px solid #e7eaec;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
.has-success .form-control {
  border-color: #1ab394;
}
.has-warning .form-control {
  border-color: #f8ac59;
}
.has-error .form-control {
  border-color: #ed5565;
}
.has-success .control-label {
  color: #1ab394;
}
.has-warning .control-label {
  color: #f8ac59;
}
.has-error .control-label {
  color: #ed5565;
}
.input-group-addon {
  background-color: #fff;
  border: 1px solid #E5E6E7;
  border-radius: 1px;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
}
.spinner-buttons.input-group-btn .btn-xs {
  line-height: 1.13;
}
.spinner-buttons.input-group-btn {
  width: 20%;
}
.noUi-connect {
  background: none repeat scroll 0 0 #1ab394;
  box-shadow: none;
}
.slider_red .noUi-connect {
  background: none repeat scroll 0 0 #ed5565;
  box-shadow: none;
}
/* UI Sortable */
.ui-sortable .ibox-title {
  cursor: move;
}
.ui-sortable-placeholder {
  border: 1px dashed #cecece !important;
  visibility: visible !important;
  background: #e7eaec;
}
.ibox.ui-sortable-placeholder {
  margin: 0px 0px 23px !important;
}
.label-primary, .badge-primary {
    background-color: #7FAF2A;
    color: #FFF;
}
/*west263.css end*/

/*公共*/
body{font:14px "微软雅黑","Arial Narrow",HELVETICA;background:#f0f3f5;color:#666; overflow:auto;min-width:1300px;}
a{text-decoration:none;outline:none;-moz-outline:none;color:#5e5e5e;}
a:hover{color: #078CCF;text-decoration: none;}
a:focus {
outline:none;
-moz-outline:none;
text-decoration: none;
color: #5e5e5e;
}
.positon-r{ position:relative;}
.container,.wrap{width:1190px;margin-right: auto;margin-left: auto;*zoom: 1; padding:0;}
.display{ display:none;}
.nopl{ padding-left:0px;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-weight: 500;}
.block{ display:inline-block;}
/*公共 end*/

/*link color*/
.bluelink{ color:#078ccf;}
.bluelink:hover{ color:#f60;}
.orangelink{ color:#ff6600;} 
.orangelink:hover{ color:#df5900;}
.greenlink{ color:#6dd031;} 
.greenlink:hover{ color:#5cb228;}
/*link color end*/
/*margin*/
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb35{ margin-bottom:35px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.ml35{ margin-left:35px;}
.ml45{ margin-left:45px;}
.ml55{ margin-left:55px;}
.ml70{ margin-left:70px;}
.ml80{ margin-left:80px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr25{ margin-right:25px;}
.mr30{ margin-right:30px;}
.mr35{ margin-right:35px;}
.mr45{ margin-right:45px;}
.mr55{ margin-right:55px;}
.mr70{ margin-right:70px;}
.mr80{ margin-right:80px;}
.margin20{ margin:20px;}
.mtb5{ margin:5px 0;}
.mtb10{ margin:10px 0;}
.not-mt{ margin-top:0px;}
.not-margin{ margin:0;}
/*margin end*/

/*padding*/
.pt5{ padding-top:5px;}
.pt7{ padding-top:7px;vertical-align: middle;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.padding15{ padding:15px;}
.padding20{ padding:20px;}
.paddingtrl20{ padding:20px 20px 0 20px;}
.not-padding{ padding:0;}
/*padding end*/

/*width*/
.width30{ width:30px;}
.width40{ width:40px;}
.width50{ width:50px;}
.width60{ width:60px;}
.width70{ width:70px;}
.width80{ width:80px;}
.width90{ width:90px;}
.width100{ width:100px;}
.width110{ width:110px;}
.width120{ width:120px;}
.width130{ width:130px;}
.width140{ width:140px;}
.width150{ width:150px;}
.width160{ width:160px;}
.width170{ width:170px;}
.width180{ width:180px;}
.width190{ width:190px;}
.width200{ width:200px;}
.width210{ width:210px;}
.width220{ width:220px;}
.width230{ width:230px;}
.width240{ width:240px;}
.width250{ width:250px;}
.width260{ width:260px;}
.width270{ width:270px;}
.width280{ width:280px;}
.width290{ width:290px;}
.width300{ width:300px;}
.width350{ width:350px;}
.width400{ width:400px;}
.width450{ width:450px;}
.width500{ width:500px;}
.width800{ width:800px;}
.width10per{ width:10%;}
.width15per{ width:15%;}
.width20per{ width:20%;}
/*width end*/

/*height*/
 .height200{ height:200px;}
  .height220{ height:220px;}
   .height240{ height:240px;}
 .height260{ height:260px;}
  .height270{ height:270px;}
  .height280{ height:260px;}
 .height320{ height:320px;}
/*height end*/

/*font size*/
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
.font24{ font-size:24px;}
.font48{font-size:48px;}
/*font size end*/

/*color*/
.bluecolor{ color:#078ccf;}
.color333{ color:#333;}
.color999{ color:#999;}
.colorddd{ color:#ddd;}
.graycolor{ color:#999;}
.greencolor{ color:#6dd031;}
.browncolor{ color:#e3be2a;}
.orangecolor{ color:#ff6600;}
.info-bluecolor{ color:#82cbf0;}
/*color end*/

/*border*/
.border-right{ border-right:1px solid #eee;}
.border-left{ border-left:1px solid #eee;}
/*border end*/


/*bg color*/
.bgwhite{ background:#fff;}
/*bg color end*/

/*顶部*/
.top{ background:#333333; width:100%; height:35px; color:#cccccc; line-height:35px; font-size:14px;}
.top a{ color:#cccccc;}
.top a:hover{ color:#fff;}
/*顶部 end*/

/*logo and nav*/
.navcon{ background:#fff;width:100%; height:85px;}
.navcon ul li{ float:left; font-size:18px; display:inline-block;  padding:20px 25px 0px 25px; height: 65px; line-height:35px; }
.navcon ul li a:hover{color:#078ccf; }
.navcon ul li.navactive a{color:#078ccf;}
.navcon ul li.second .navarrow{ background:url(../images/sprite.png) no-repeat -10px top; width:13px; height:9px; display:inline-block;}
.navcon ul li.second>a{ display:inline-block;  text-align:center;width:110px;}
.navcon .navseclist{ background:#fff;border:1px solid #ddd; width:110px;text-align:center; font-size:16px; position: relative; padding:10px 0; border-radius:3px; margin-top:10px;  display:none; z-index:20;}
.navcon .sec-arrow1{position: absolute; left: 40px; top: -24px; width: 0; height: 0; font-size: 0; border-width: 12px; border-style: dashed dashed solid dashed; border-color: transparent transparent #ddd transparent; }
.navcon .sec-arrow2{position: absolute; left: 40px; top: -23px; width: 0; height: 0; font-size: 0; border-width: 12px; border-style: dashed dashed solid dashed; border-color: transparent transparent #FFF transparent;}
.navcon .navseclist a{ display:block;}
.navcon ul li.second:hover .navseclist{ display:block;}

/*logo and nav end*/


/*footer*/
.footer{ background:#333333;width:100%; padding:25px 0 10px  0; color:#999; font-size:14px; position:static;}
.footer a{color:#999;}
.footer a:hover{ color:#fff;}
.footerlink a{ margin:0 15px 0 0;}
.footer .tel{ font-size:30px; font-weight:bold; height:35px; line-height:35px;}
.footer .tel i{background:url(../images/sprite.png) no-repeat -61px 0; display:inline-block; width:35px; height:35px; vertical-align:top; margin:2px 10px 0 0;}
/*footer end*/

/*右边浮动窗口*/
.kefu{bottom:60px;width:90px;z-index:999;position:fixed; right:25px;display: block; }
.kefu-wrap{ background:#078ccf; padding:28px 2px 2px 2px; border-radius:3px;}
.kefu-main{ background:#fff;border-radius:3px; padding-top:3px;}
.kefu-main a{ margin:5px 0; display:block;}
.kefu-icon{ background:url(../images/sprite.png) no-repeat; background-position:right -20px; position:absolute; left:18px; top:-15px; display:inline-block; width:49px; height:37px;}
.kuaijie-link{ padding:5px; background:#f8f8f8; border-top:1px solid #eee;}
a.btn-size{ height:24px; line-height:24px; color:#fff;border-radius:3px;}
a.btn-size:hover{ color:#fff;}
.backtop{ color:#fff; text-align:center; height:40px; line-height:40px; font-size:16px; display:block;}
.backtop:hover,.backtop:focus,.backtop:active{ color:#fff;}
/*右边浮动窗口 end*/


/*icon 图标*/
.ya-icon,.zhuan-icon,.tie-icon{background:url(../images/sprite.png) no-repeat; background-position:0px -25px; width:18px; height:18px; display:inline-block; vertical-align:middle; margin-left:5px;margin-top: -4px;}
.zhuan-icon{background-position:-18px -25px;}
.tie-icon{background-position:-158px 0;}
/*icon 图标 end*/